[Unit]
Description=HUDView Light Sensor
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/opt/hudview/light_sensor/run_light_sensor
Restart=always
RestartSec=5

[Install]
WantedBy=sysinit.target